<div class="relative w-full" style="padding-bottom: <%= padding_bottom %>;">
  <div class="bg-muted absolute inset-0 rounded-md overflow-hidden border shadow-sm">
    <%= image_tag @image_path, alt: "Image", loading: 'lazy', class: "object-cover absolute h-full w-full inset-0" %>
  </div>
</div>
